.pokemons-list {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		'list'
		'pagination';
	grid-gap: 30px;
}

.pokemons-grid {
	grid-area: list;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 20px;
	justify-content: space-between;
}

.pokemon .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pokemon .avatar {
	width: 96px;
	height: 96px;
}

.pokemon .types {
	display: flex;
	margin-top: 15px;
}

.pokemon .stats .stat {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination-container {
	grid-area: pagination;
}

.pagination {
	display: flex;
	justify-content: center;
}
